.body{
    width:100%;
    height:750px;
    background-color: #333;
}
.leftarrow{
    position:relative;
    width: 20px;
    height:20px;
    top: 60px;
    left: 39px;
}
.emperor{
    position:absolute;
    margin-top: 76px;
    margin-left: 66px;
    width: 410px;
    height: 507px;
}
.arrow{
    position:relative;
    width: 20px;
    height:20px;
    top: 81px;
    left: 277px;
}
.heart1{
    position: relative;
    width: 23px;
    height: 23px;
    top: 83px;
    left: 277px;
}
.ellipse1{
    position: relative;
    width: 35px;
    height: 35px;
    top: 96px;
    left: 274px;
}
.ellipse2{
    position: relative;
    width: 35px;
    height: 35px;
    top: 95px;
    left: 274px;
}
.caption{
    position: absolute;
    width: 736px;
    height: 254px;
    top: 170px;
    margin-left: 650px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(63, 62, 62);
}
.caption1{
    position: relative;
    color: #FFFFFF;
    left: 22px;
    width: 710px;
    font-size: 52px;
    margin-top: 1px;
}
.para{
    margin-left: 23px;
    width: 659px;
    color: white;
    margin-top: -27px;
    font-size: 27px;

}
.red{
    color: red;
}
.rating{
    background-color: green;
    width: 59px;
    height: 27px;
    margin-left: 23px;
    margin-top: -16px;
    border-radius: 8px;
}
.num{
    color: white;
    margin-left: 11px;
    font-size: 15px;
    margin-top: 29px;
}
.star{
    position: absolute;
    top: 200px;
    margin-left: 38px;
    width: 12px;
}
.numb{
    position: absolute;
    top: 199px;
    color: rgba(255, 255, 255, 0.897);
    left: 96px;
    font-size: 13px;
}
.numb1{
    position: absolute;
    top: 225px;
    color: rgba(255, 255, 255, 0.2);
    left: 24px;
    text-decoration: line-through;
    font-size: 19px;
}
.numb2{
    position: absolute;
    top: 228px;
    color: white;
    left: 72px;
    font-size: 17px;
    
}
.offer{
    color: green;
    font-size: 23px;
    margin-left: 122px;
    margin-top: 0px;
}
.caption2{
    position: absolute;
    width: 736px;
    height: 46px;
    top: 433px;
    margin-left: 650px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(63, 62, 62);
}
.coupens{
    position: relative;
    color: #FFFFFF;
    left: 22px;
    width: 471px;
    font-size: 20px;
    margin-top: 7px;
}
.rightlink{
    position: relative;
    color: #FFFFFF;
    left: 22px;
    width: 471px;
    font-size: 20px;
    margin-top: 7px;
    cursor: pointer;
}
.button2{
    position: absolute;
    top: -37px;
    width: 20px;
    margin-left: 682px;
    background: none;
}
.caption3{
    position: absolute;
    width: 736px;
    height: 70px;
    top: 488px;
    margin-left: 650px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(63, 62, 62);
}
.img-replace{
    position: relative;
    color: #FFFFFF;
    left: 31px;
    width: 225px;
    margin-top: 4px;
    font-size: 18px;
    cursor: pointer;
}
.replacement{
    position: relative;
    color: #FFFFFF;
    left: 31px;
    width: 225px;
    margin-top: 4px;
    font-size: 18px;
}
.replace{
    margin-top: 11px;
    width: 20px;
    height: 20px;
    margin-left: 105px; 
}
.vertical1{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 52px;
    margin-top: -71px;
    margin-left: 245.3px;
}
.img-money{
    position: absolute;
    margin-top: -74px;
    width: 20px;
    height: 20px;
    margin-left: 354px;
    cursor: pointer;
}
.money{
    position: absolute;
    margin-top: 1px;
    width: 23px;
    height: 23px;
    margin-left: 3px;
    
}
.cash-delivery{
    position: relative;
    color: #FFFFFF;
    left: 266px;
    width: 225px;
    margin-top: -44px;
    font-size: 18px;
}
.vertical2{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 52px;
    margin-top: -73px;
    margin-left: 490.6px;
}
.img-checked{
    position: absolute;
    margin-top: -70px;
    width: 20px;
    height: 20px;
    margin-left: 594px;
    cursor:pointer;
}
.checked{
    position: absolute;
    margin-top: 0px;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    
    
}
.quality{
    position: relative;
    color: #FFFFFF;
    left: 551px;
    width: 225px;
    margin-top: -42px;
    font-size: 18px;
}
.caption4{
    position: absolute;
    width: 736px;
    height: 53px;
    top: 567px;
    margin-left: 650px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(63, 62, 62);
}
.delivery{
    color:white;
    margin-left: 18px;
}
.caption5{
    position: absolute;
    width: 720px;
    height: 53px;
    top: 630px;
    margin-left: 650px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 9px;
    padding: 5px;
    background-color: rgb(63, 62, 62);
    cursor: pointer;
}
.add-cart{
    color: white;
    margin-left: -2px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;

}
.add-to-cart{
    color: white;
    margin-left: 121px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}
.added-to-cart{
    position: absolute;
    width: 720px;
    height: 53px;
    margin-top: 0px;
    margin-left: -121px;
    border: none;
    padding: 5px;
    background-color: rgb(63, 62, 62);
}
.caption6{
    position: absolute;
    width: 365px;
    height: 53px;
    top: 630px;
    margin-left: 1007px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    background: #9E0808;
}
