.body2{
    position:absolute;
    width:1000px;
    height:750px;
    background-color:#333;
    margin-top: 82px;
}
.shopping{
    position: relative;
    color: white;
    margin-top: 55px;
    margin-left: 58px;
    font-size: 30px;
    width:256px;
}
.items{
    position: relative;
    color: white;
    margin-top: -63px;
    margin-left: 841px;
    font-size: 30px;
}
.line{
    width: 904px;
    margin-top: 44px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.product-details{
    position: relative;
    margin-top: 31px;
    color: #FFFFFF;
    margin-left: 58px;
    font-weight: lighter;
    font-size: 24px;
    line-height: 36px;
    width: 155px;
}
.quantity{
    position: relative;
    margin-top: -55px;
    color: #FFFFFF;
    margin-left: 464px;
    font-weight: lighter;
    font-size: 24px;
    line-height: 36px;
    width: 91px;
}
.price{
    position: relative;
    margin-top: -55px;
    color: #FFFFFF;
    margin-left: 704px;
    font-weight: lighter;
    font-size: 24px;
    line-height: 36px;
    width:51px;
}
.total{
    position: relative;
    margin-top: -58px;
    color: #FFFFFF;
    margin-left: 896px;
    font-weight: lighter;
    font-size: 24px;
    line-height: 36px;
    width: 48px;
}
.product{
    position:absolute;
    margin-top: 15px;
    margin-left: 69px;
    width: 167px;
}
.product-heading{
    position:absolute;
    margin-top: 51px;
    margin-left: 246px;
    width: 236px;
    font-size: 20px;
    color: white;
    font-weight: lighter;
}
.product-caption{
    position:absolute;
    margin-top: 111px;
    margin-left: 246px;
    width: 153px;
    font-size: 12px;
    color: white;
    font-weight: lighter;
}
.superman{
    position: absolute;
    margin-top: 17px;
    margin-left: 96px;
    width: 70px;
    height: 100px;
}
.superman-heading {
    position: absolute;
    margin-top: 32px;
    margin-left: 176px;
    width: 130px;
    height: 32px;
    color:#FFFFFF;
    font-size:20px;
}
.superman-caption{
    position: absolute;
    margin-top: 64px;
    margin-left: 176px;
    width: 130px;
    height: 32px;
    color:#FFFFFF;
    font-size:14px;
    font-weight: lighter;
}

.hero{
    position: absolute;
    margin-top: 166px;
    margin-left: 96px;
    width: 70px;
    height: 100px;
}
.hero-heading {
    position: absolute;
    margin-top: 179px;
    margin-left: 176px;
    width: 180px;
    height: 32px;
    color:#FFFFFF;
    font-size:20px;
}
.hero-caption{
    position: absolute;
    margin-top: 212px;
    margin-left: 176px;
    width: 130px;
    height: 32px;
    color:#FFFFFF;
    font-size:14px;
    font-weight: lighter;
}
.ironman{
    position: absolute;
    margin-top: 315px;
    margin-left: 96px;
    width: 70px;
    height: 100px;
}
.ironman-heading {
    position: absolute;
    margin-top: 326px;
    margin-left: 176px;
    width: 180px;
    height: 32px;
    color:#FFFFFF;
    font-size:20px;
}
.ironman-caption{
    position: absolute;
    margin-top: 359px;
    margin-left: 176px;
    width: 131px;
    height: 32px;
    color:#FFFFFF;
    font-size:14px;
    font-weight: lighter;
}
.price1{
    position: absolute;
    margin-top: 43px;
    margin-left: 698px;
    font-size: 22px;
    color:#FFFFFF;
}
.price2{
    position: absolute;
    margin-top: 203px;
    margin-left: 698px;
    font-size: 22px;
    color:#FFFFFF;
}
.price3{
    position: absolute;
    margin-top: 360px;
    margin-left: 698px;
    font-size: 22px;
    color:#FFFFFF;
}
.arrow2{
    position: absolute;
    margin-top: 434px;
    margin-left: 43px;
    width: 16px;
    height: 14px;
}

.continue{
    position: absolute;
    color:#FFFFFF;
    margin-top: 430px;
    margin-left: 82px;
}
.counter1{
    margin-top: 55px;
    margin-left: 436px;
}
.counter2{
    margin-top: 150px;
    margin-left: 436px;
}
.counter3{
    margin-top: 126px;
    margin-left: 436px;
}
.count{
    margin-top: -21px;
    margin-left: 58px;
    width: 23px;
    color:white;
    font-weight: lighter;
}
.decrement{
    width: 21px;
    height: 20px;
    margin-top: 6px;
    margin-left: 30px;
    color: white;
    font-size: 16px;
    background: none;
}
.increment{
    width: 21px;
    height: 20px;
    margin-top: -40px;
    margin-left: 80px;
    position: absolute;
    font-size: 16px;
    background: none;
    color:white;
}
.body21{
    position:absolute;
    width:500px;
    height:750px;
    background-color:black;
    margin-left: 999px;
    margin-top: 82px;
}
.summary{
    position: relative;
    color: white;
    margin-top: 55px;
    margin-left: 58px;
    font-size: 30px;
    width:256px;
}
.line2{
    width: 435px;
    margin-top: 40px;
    border: 1px solid rgba(241, 237, 237, 0.6);
}
.item2{
    position: relative;
    margin-top: 31px;
    color: #FFFFFF;
    margin-left: 58px;
    font-size: 24px;
    line-height: 36px;
    width: 155px;
}
.shipping{
    position: relative;
    margin-top: 31px;
    color: #FFFFFF;
    margin-left: 58px;
    font-size: 24px;
    line-height: 36px;
    width: 155px;
}

.apply1{
    position: absolute;
    width: 120px;
    height: 33px;
    top: 464px;
    margin-left: 192px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    background: #9E0808;
}
.apply2{
    color: white;
    margin-left: 33px;
    font-size: 20px;
    margin-top: 0px;
}
.line3{
    width: 435px;
    margin-top: 267px;
    border: 1px solid rgba(241, 237, 237, 0.6);
    margin-left: 34px;
}
.totalcost{
    margin-top: 10px;
    position: absolute;
    font-size: 24px;
    color: white;
    margin-left: 43px;
}

