.mainbody{
    position: absolute;
    margin-top: -774px;
    width:100%;
}
.py-4 {
    padding-bottom: 1.5rem!important;
}
.text-center{
    text-align: center!important;
    padding-bottom: 25px;
    color:white;
    font-size: 38px;
}